<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="backend_access_config" label="COM_GRUPAYER_GLOBAL_CONFIG_TAB1_LABEL">
        <field name="id" type="hidden" label="id" default="1" />
        <field name="pagtesouro_url" type="text" label="COM_GRUPAYER_GLOBAL_CONFIG_FORM_LABEL_PAGTESOURO_URL" required="true" />
        <field name="pagtesouro_token" type="text" label="COM_GRUPAYER_GLOBAL_CONFIG_FORM_LABEL_PAGTESOURO_TOKEN" required="true" />
        <field name="navigation_mode" type="list" label="COM_GRUPAYER_GLOBAL_CONFIG_FORM_LABEL_NAVIGATION_MODE" required='true' default='1'>
            <option value="1">COM_GRUPAYER_GLOBAL_CONFIG_FORM_LABEL_NAVIGATION_MODE_OPTION1</option>
            <option value="2">COM_GRUPAYER_GLOBAL_CONFIG_FORM_LABEL_NAVIGATION_MODE_OPTION2</option>
        </field>
        <field name="return_url" required="true" type="text" label="COM_GRUPAYER_GLOBAL_CONFIG_FORM_LABEL_RETURN_URL" default='' />
        <field name="notification_url" type="text" label="COM_GRUPAYER_GLOBAL_CONFIG_FORM_LABEL_NOTIFICATION_URL" default='' />
    </fieldset>
    <fieldset name="frontend_general_config" label="COM_GRUPAYER_GLOBAL_CONFIG_TAB2_LABEL">
        <field name="pagtesouro_theme" type="list" label="COM_GRUPAYER_GLOBAL_CONFIG_FORM_LABEL_THEME" default='0' required="true">
            <option value="tema-light">COM_GRUPAYER_GLOBAL_CONFIG_FORM_LABEL_PAGTESOURO_THEME_OPTION1</option>
            <option value="tema-dark">COM_GRUPAYER_GLOBAL_CONFIG_FORM_LABEL_PAGTESOURO_THEME_OPTION2</option>
        </field>
        <field name="columns" type="number" label="COM_GRUPAYER_GLOBAL_CONFIG_FORM_LABEL_COLUMNS" required="true" />
    </fieldset>
    <fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_grupayer"
			section="component"
		/>
	</fieldset>
</config>